@model FuzzyLogicModel.FuzzyVariable
<tr>
<td style="width: 50%;">
<table style="border-style: none; width: 100%">
    <tr>
    <td style="font-weight: bold; width: 70%;">@Resources.FVariableName</td>
    <td>@Model.Name</td>
    </tr>
    <tr>
    <td style="font-weight: bold; width: 70%;">@Resources.MinValue</td>
    <td>@Model.MinValue</td>
    </tr>
    <tr>
    <td style="font-weight: bold; width: 70%;">@Resources.MaxValue</td>
    <td>@Model.MaxValue</td>
    </tr>
    <tr>
    <td style="font-weight: bold; width: 70%;" >@Resources.NumberOfMembFunc</td>
    <td>@Model.NumberOfMembFunc</td>
    </tr>
</table>
</td>
<td style="width: 50%;">
    @Html.MembershipFunctionChart(new { variableId = @Model.VariableID })
</td>
</tr>