@model FuzzyLogicModel.FuzzyModel
<table style="width: 100%;">
    <tr style="font-weight: bold;">
        <td style="width: 50%;">@Resources.SystemName
        </td>
        <td style="width: 50%;">@Model.Name
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold;">@Resources.Description
        </td>
        <td style="width: 50%;">@Model.Description
        </td>
    </tr>
    @Html.DisplayFor(x => Model.FuzzyRules)
    @Html.DisplayFor(x => Model.FuzzyVariables)
</table>
