@model FuzzyLogicModel.FuzzyVariable

            <tr>
                <td>@Model.Name</td>
                <td>@Model.MinValue</td>
                <td>@Model.MaxValue</td>
                <td>@Model.NumberOfMembFunc</td>
                <td>@Model.MembershipFunctions</td>
            </tr>
