@model FuzzyLogicModel.MembershipFunction
           
           <tr>
                <td>@Model.Name</td>
                <td>@Model.Type</td>
                <td>@Model.FirstValue</td>
                <td>@Model.SecondValue</td>
                <td>@Model.ThirdValue</td>
                <td>@Model.FourthValue</td>
            </tr>

    