@model FuzzyLogicModel.FuzzyVariable
@{
    var width = ViewBag.VariableWidth;    
}           
    <tr>
    <td style="width: 25%;">
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MinValue)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MinValue)
            @Html.ValidationMessageFor(model => model.MinValue)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaxValue)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaxValue)
            @Html.ValidationMessageFor(model => model.MaxValue)
        </div>
@*
        <div class="editor-label">
            @Html.LabelFor(model => model.NumberOfMembFunc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumberOfMembFunc)
            @Html.ValidationMessageFor(model => model.NumberOfMembFunc)
        </div>*@
    </td>
    <td>
        <table>
            @Html.EditorFor(functions=>Model.MembershipFunctions)
        </table>
    </td>
</tr>