 @model FuzzyLogicModel.FuzzyRule
<tr>
    <td class="editor-label">
        @Html.LabelFor(model => model.StringRuleContent)
    </td>
    <td style="width: 80%;">
        @Html.TextAreaFor(model => model.StringRuleContent)
        @Html.ValidationMessageFor(model => model.StringRuleContent)
    </td>
    @Html.HiddenFor(model => model.FISRuleContent)
    @Html.HiddenFor(model => model.RuleID)
    @Html.HiddenFor(model => model.ModelID)
</tr>
