@model FuzzyLogicWebService.Models.InputValue

<fieldset>
        @Html.ValidationMessageFor(m => Model)
        <div class="editor-label">
            @Model.VariableName (@Model.VariableMinValue - @Model.VariableMaxValue)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VariableValue)
            @Html.ValidationMessageFor(model => model.VariableValue)
        </div>
        @Html.Hidden("VariableId", @Model.VariableId)
        @Html.Hidden("VariableName", @Model.VariableName)
        @Html.Hidden("VariableMaxValue", @Model.VariableMaxValue)
        @Html.Hidden("VariableMinValue", @Model.VariableMinValue)
</fieldset>