@model FuzzyLogicModel.MembershipFunction
@Html.HiddenFor(id => Model.FunctionID)
@Html.HiddenFor(model => model.VariableID)
@Html.HiddenFor(model => model.FunctionIndex)
@Html.HiddenFor(model => model.Type)
<tr>
    <td class="editor-label">@Html.LabelFor(model => model.Name)
    </td>
    <td class="editor-label">@Html.LabelFor(model => model.FirstValue)
    </td>
    <td class="editor-label">@Html.LabelFor(model => model.SecondValue)
    </td>
    <td class="editor-label">@Html.LabelFor(model => model.ThirdValue)
    </td>
    <td class="editor-label">@Html.LabelFor(model => model.FourthValue)
    </td>
</tr>
<tr>
    <td>@Html.TextBoxFor(model => model.Name, new { @class = "simple-input" })
        @Html.ValidationMessageFor(model => model.Name)
    </td>
    <td>@Html.EditorFor(model => model.FirstValue)
        @Html.ValidationMessageFor(model => model.FirstValue)
    </td>
    <td>@Html.EditorFor(model => model.SecondValue)
        @Html.ValidationMessageFor(model => model.SecondValue)
    </td>
    <td>@Html.EditorFor(model => model.ThirdValue)
        @Html.ValidationMessageFor(model => model.ThirdValue)
    </td>
    <td>@Html.EditorFor(model => model.FourthValue)
        @Html.ValidationMessageFor(model => model.FourthValue)
    </td>
</tr>
