@model IEnumerable<FuzzyLogicModel.FuzzyVariable>


@{
    ViewBag.Title = @Resources.AddMembershipFunc;
}

@Html.ValidationSummary()
@using (Html.BeginForm("AddRulesToModel", "CreateModel", FormMethod.Get))
{

<h2>@Resources.AddMembershipFunc</h2>
     <table>
        <tr>
            <td>@Resources.VariableName</td>
            <td>@Resources.VariableFunctionsNumber</td>
            <td>@Resources.AddMembershipFunc</td>
        </tr>
     @foreach (var v in Model)
     {
        <tr>
            <td>@v.Name</td>
            <td>@v.NumberOfMembFunc</td>
            <td>@Html.ActionLink(@Resources.DefineMF, "DisplayMembershipFuncDetails", new { currentVarId = v.VariableID })</td>        
        </tr>
         if (v.MembershipFunctions.Count > 0 )
         {
         <tr>
            <td>@Html.VariableChart(v.VariableID, null)</td>
         </tr>
         }
     }
     </table>
    

     <input type="submit" value="@Resources.Next"/>
}
