@model IEnumerable<FuzzyLogicModel.MembershipFunction>

@{
    ViewBag.Title = @Resources.AddMembershipFunc;
    ViewBag.IsEdit = false;
}

<h2>@ViewBag.Title</h2>
@Html.ValidationSummary()
@using (Html.BeginForm("AddMembershipFuncDetails","CreateModel"))
{
    <table style="width: 100%;">
    <tr>
        Wartości muszą mieścić się w przedziale: @ViewBag.VariableMinValue - @ViewBag.VariableMaxValue
    </tr>
    @Html.EditorForModel()
    </table>
       
    <input type="submit" value="@Resources.Create" />
      
}
