@model ICollection<FuzzyLogicModel.FuzzyRule>

@{
    ViewBag.Title = @Resources.AddRules;
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.ParserErrormessage != null)
{
    <p><b>@ViewBag.ParserErrormessage</b></p>
    
}

@using (Html.BeginForm("AddRulesToModel", "CreateModel"))
{
    <table>
    @Html.EditorFor(x => Model)
    </table>
<input type="submit" value="@Resources.Next" />
}
