@model IQueryable<FuzzyLogicModel.FuzzyModel>
@{
    ViewBag.Title = @Resources.ListOfModels;
}
@if (Model.Count() == 0)
{
    @Resources.NoModelsMsg  @Html.ActionLink("tutaj", "Create", "CreateModel", null, new { @style = "color: black" });
}
else
{
    <table style="width: 100%; border: 1 solid black;">
        <tr>
            <td>
                <b>@Resources.ModelName</b>
            </td>
            <td style="width: 20%">
                <b>@Resources.ModelDescription</b>
            </td>
            <td>
                <b>@Resources.Inputs</b>
            </td>
            <td>
                <b>@Resources.Outputs</b>
            </td>
            <td>
                <b>@Resources.Rules</b>
            </td>
            <td>
                <b>@Resources.ModelStatus</b>
            </td>
            <td>
                <b>@Resources.SeeDetails</b>
            </td>
            <td>
                <b>@Resources.UseModel</b>
            </td>
            <td>
                <b>@Resources.GenerateFisFile</b>
            </td>
            <td>
                <b>@Resources.CopyModel</b>
            </td>
        </tr>
        @foreach (var m in Model)
        {
        
            <tr>
                <td>
                    <b>@m.Name</b>
                </td>
                <td style="width: 20%">@m.Description
                </td>
                <td>@m.InputsNumber
                </td>
                <td>@m.OutputsNumber
                </td>
                <td>@m.RulesNumber
                </td>
                @{
            string modelStatus = "";
            try
            {
                FuzzyLogicService.CreateModelCheckpointsList.TryGetValue(m.IsSaved, out modelStatus);
                    <td>@Html.ActionLink(modelStatus, "GoBackWhereStopped", "CreateModel", new { actionStoppedNumber = m.IsSaved, modelId = m.ModelID }, null)
                    </td>    
                    <td>@Resources.SeeDetails
                    </td>
                    <td>@Resources.UseThisModel
                    </td>
                    <td>@String.Format("{0}.fis", @m.Name)
                    </td>
                    <td>@Resources.CopyModel
                    </td>
            }
            catch (Exception)
            {
                    @Resources.Created
                    
                    <td>@Html.ActionLink(@Resources.SeeDetails, "ModelDetails", "CreateModel", new { modelId = m.ModelID }, null)
                    </td>
                    <td>@Html.ActionLink(@Resources.UseThisModel, "ModelCalculation", "ModelCalculation", new { modelId = m.ModelID }, null)
                    </td>
                    <td>@Html.ActionLink(m.Name + ".fis", "SaveFileLocally", "Home", new { modelId = m.ModelID }, null)
                    </td>
                    <td>@Html.ActionLink(@Resources.CopyModel, "CopyModel", "CreateModel", new { modelId = m.ModelID }, null)
                    </td>
            }
                }
                <td>
                    @using (Html.BeginForm("Delete", "CreateModel"))
                    {
                        @Html.Hidden("ModelID", m.ModelID)
                        <input type="submit" value="@Resources.Delete" />
                    }
                </td>
            </tr>
        }
    </table>
        
}