@model IQueryable<FuzzyLogicModel.FuzzyModel>

@{
    ViewBag.Title = "BrowseModels";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.UserName, these are your models</h2>
<table border="1" style="width:100%">

        <tr>
          <td><b>Name</b></td>
          <td><b>Description</b></td>
          <td><b>Number of inputs variables</b></td>
          <td><b>Number of output variables</b></td>
          <td><b>Number of rules</b></td>
          <td><b>Details</b></td>
          <td><b>Use this model</b></td>
          <td><b>Delete</b></td>
        </tr>

    @foreach (var m in Model)
    {
        <tr>
          <td><b>@m.Name</b></td>
          <td>@m.Description</td>
          <td>@m.InputsNumber</td>
          <td>@m.OutputsNumber</td>
          <td>@m.RulesNumber</td>
          <td>@Html.ActionLink(@Resources.SeeDetails, "ModelDetails", "CreateModel", new { modelId = m.ModelID }, null)</td>
          <td>@Html.ActionLink(@Resources.UseThisModel, "ModelCalculation", "ModelCalculation", new { modelId = m.ModelID }, null)</td>
          <td>
                @using(Html.BeginForm("Delete", "CreateModel")){
                    @Html.Hidden("ModelID",m.ModelID)
                    <input type="submit" value="@Resources.Delete" />
                }
          </td>
        </tr>
    }
</table>