@model FuzzyLogicModel.FuzzyModel

@{
    ViewBag.Title = "Start creating model";
}

<h2>@Resources.CreateMamdaniModel</h2>
    
    @using (Html.BeginForm("Create", "CreateModel"))
    {
         @Html.ValidationSummary(true)
    <table>
        <tr>
            <td>@Html.LabelFor(Model => Model.Name)</td>
            <td>@Html.EditorFor(Model => Model.Name)
            @Html.ValidationMessageFor(Model => Model.Name)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(Model => Model.Description)</td>
            <td>@Html.TextAreaFor(Model => Model.Description) </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(Model => Model.InputsNumber)</td>
            <td>@Html.EditorFor(Model => Model.InputsNumber)
            @Html.ValidationMessageFor(Model => Model.InputsNumber)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(Model => Model.RulesNumber)</td>
            <td>@Html.EditorFor(Model => Model.RulesNumber)
            @Html.ValidationMessageFor(Model => Model.RulesNumber)</td>
        </tr>
    </table>
        <p>
          <input type="submit" value="@Resources.Next" />
        </p>
        }

@Html.ActionLink(@Resources.Cancel, "BrowseModels", "CreateModel")
    