@model FuzzyLogicModel.FuzzyModel

@{
    ViewBag.Title = @Resources.EditModel;
}

<h2>@Resources.EditModel:</h2>

@using (Html.BeginForm("EditModel", "CreateModel"))
    {
         @Html.ValidationSummary(true)

         @Html.EditorForModel()
        <p>
          <input type="submit" value="@Resources.Submit" />
        </p>
    }

@Html.ActionLink(@Resources.Cancel, "ModelDetails", "CreateModel", new { modelId = Model.ModelID }, null)
