@model FuzzyLogicModel.FuzzyModel

@{
    ViewBag.Title = @Resources.EditModel;
}

<h2>@Resources.EditModel:</h2>

@Html.ValidationSummary()

@using (Html.BeginForm("EditModel", "CreateModel"))
    {

         @Html.EditorForModel()
        <p>
          <input type="submit" value="@Resources.Submit" />
        </p>
    }
@Html.ActionLink(@Resources.Cancel, "ModelDetails", "CreateModel", new { modelId = Model.ModelID }, null)
