@model FuzzyLogicModel.FuzzyModel
@{
    ViewBag.Title = @Resources.DetailsOfModel;
}
@Html.DisplayForModel()
<p>
</p>

@Html.ActionLink(@Resources.Cancel, "BrowseModels", "CreateModel")

@Html.ActionLink(@Resources.EditModel, "EditModel", "CreateModel", new { modelId = Model.ModelID }, null)

@Html.ActionLink(@Resources.Save, "BrowseModels", "CreateModel")
