@model FuzzyLogicModel.FuzzyModel

@{
    ViewBag.Title = "ModelDetails";
}

<h2>@Resources.DetailsOfModel @Model.Name</h2>
    @Html.DisplayForModel()
<p></p>
@Html.ActionLink(@Resources.EditModel, "EditModel", "CreateModel", new { modelId = Model.ModelID }, null)
@Html.ActionLink(@Resources.Cancel, "BrowseModels", "CreateModel")
