@model FuzzyLogicModel.FuzzyModel

@{
    ViewBag.Title = @Resources.DetailsOfModel;
}

    @Html.DisplayForModel()
<p></p>
@Html.ActionLink(@Resources.EditModel, "EditModel", "CreateModel", new { modelId = Model.ModelID }, null)
@Html.ActionLink(@Resources.Cancel, "BrowseModels", "CreateModel")
