@model FuzzyLogicWebService.FISFiles.DBModel.FuzzyModel
           
<h2>Create Mamdani model:  </h2>
    
    @using (Html.BeginForm("Create", "CreateModel"))
    {
    <table>
        <tr>
            <td><b>Property</b></td>
            <td><b>Value</b></td>
        </tr>
        <tr>
            <td>Name of the model</td>
            <td>@Html.EditorFor(Model => Model.Name) </td>
        </tr>
        <tr>
            <td>Short description</td>
            <td>@Html.EditorFor(Model => Model.Description) </td>
        </tr>
        <tr>
            <td>Name of input variables</td>
            <td>@Html.EditorFor(Model => Model.InputsNumber) </td>
        </tr>
        <tr>
            <td>Name of output variables</td>
            <td>@Html.EditorFor(Model => Model.OutputsNumber) </td>
        </tr>
        <tr>
            <td>Name of rules</td>
            <td>@Html.EditorFor(Model => Model.RulesNumber) </td>
        </tr>
    </table>
        <p>
          <input type="submit" value="Next" />
        </p>
    }