@model IEnumerable<FuzzyLogicWebService.FISFiles.DBModel.FuzzyModel>
           
<h2>See example Mamdani models</h2>
<p>
    @foreach (var m in Model)
    {
        <h3>Name</h3> @m.Name
        <h3>Description</h3> @m.Description
        <h3>Number of inputs variables</h3> @m.InputsNumber
        <h3>Number of output variables</h3> @m.OutputsNumber
        <h3>Number of rules</h3> @m.RulesNumber
    }
</p>