@if(Request.IsAuthenticated) {
    <div style="color: black">
    <text>@Resources.Welcome <strong>@User.Identity.Name</strong>!
    [ @Html.ActionLink(@Resources.LogOff, "LogOff", "Account", new { userName = User.Identity.Name }, new { @style = "color: black" }) ]</text>
    </div>
}
else {
    <div style="color: black">
    [ @Html.ActionLink(@Resources.LogOn, "LogOn", "Account", null, new { @style="color: black"}) ]
    </div>
}
