@model FuzzyLogicWebService.Models.OutputValue
@{
    ViewBag.Title = "CalculatedOutput";
}
<h2>
    Wynik: <b>@Model.OutputName = @Model.OutputPoint</b>
</h2>
<p>
</p>
<table>
    @foreach (var inputValue in Model.InputValues)
    {
        <tr>@inputValue.VariableName = @inputValue.VariableValue
        </tr>
    }
</table>
@Html.VariableChart(Model.VariableId, Model.OutputPoint)
<p></p>
@Html.ActionLink("Ponów obliczenia", "ModelCalculation", "ModelCalculation", new { modelId = @Model.ModelID }, null)
