@model List<FuzzyLogicWebService.Models.InputValue>

@{
    ViewBag.Title = "ModelCalculation";
}
@Html.ValidationSummary()
<h2>@Resources.InsertInputValues @ViewBag.ModelName</h2>

    @using (Html.BeginForm("CalculateOutput", "ModelCalculation", FormMethod.Post))
    {
        
        @Html.EditorForModel()

        <input type="submit" value="@Resources.Calculate" />
    }